  a{ text-decoration: none;}
  a:link{color: black}
  a:visited{color: black}
  a:hover{color: white; font-style: italic; background-color: black; box-shadow: 3px 3px 3px;}
  a:active{color: white; font-style: italic; background-color: black; font-size: 40px;}


 	body{
    font-family:verdana;
    margin-left: auto;
    margin-right: auto;
    min-width: 1400px;
    background-color: rgba(209, 225, 255, 1);
    box-shadow: 20px 20px inset;
  }

  #wrap{
    width: 1024px;
    margin-left: 8%;
    margin-right:auto;
    position: absolute;
  }

  #header{
    width:1024px;
    height:105px;
    border: 8px #555;
    text-align:center;
    padding-top: 15px;
    background-color:rgba(0, 155, 145,1);
    margin-top: 40px;
    box-shadow: 5px 5px 2px #777;
  }
menue:hover{background-color:rgba(300, 204, 135, 1);}
  menue{
    width:1024px;
    height:30px;
    background-color:rgba(114, 204, 135, 1);
    margin-bottom: 30px;
    box-shadow: 5px 5px 2px #777;
    text-align: center;
    margin-top: 10px;
  }

  #main{
    width:824px;
    height: 900px;
    background-color:rgba(226, 255, 191, 1);
    border: 5px solid ;
    border-top: 10px solid;
    padding-left: 20px;
    padding-right: 20px;
  }

  #social{
    width: 145px;
    min-height: 200px;
    background-color:rgba(226, 255, 191, 1);
    position: absolute;
    right: 0;
    border: 5px solid ;
    border-top: 10px solid;
    border-left: 0px solid;
  }

  #footer{
    width: 1024px;
    height: 30px;
    background-color:rgba(114, 204, 135, 1);
    margin-top: 20px;
    margin-bottom:60px;
    box-shadow: 5px 5px 2px #777;
    text-align:center;
    padding-top: 10px;
  }

  #about #header{color: #f00;



  }
